/* Tablets and under */
@media all and (max-width: 768px) {
  .grid,
  .about .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .left {
    width: 25%;
  }

  .right {
    width: 75%;
    margin-left: 25%;
  }

  .nav {
    height: 70vh;
  }

  .contact .contact-details h4 {
    font-size: 15px;
  }

  .contact .contact-details .contact-infos {
    margin-top: 1rem;
    display: flex;
  }

  .contact .contact-details .contact-infos .contact-info {
    padding: 1rem 0;
  }

  .contact-form {
    margin-top: 2rem;
  }
}

/* Mobile */
@media all and (max-width: 500px) {
  .column {
    float: none;
  }

  .left {
    display: none;
  }

  .right {
    width: 100%;
    margin-left: 0;
  }

  .menu {
    display: block;
  }
}
