/* Tablets and under */
@media all and (max-width: 768px) {
  .left {
    width: 25%;
  }

  .right {
    width: 75%;
    margin-left: 25%;
  }

  .nav {
    height: 70vh;
  }

  .home h1 {
    font-size: 30px;
  }
}
